body {


}

.titu {
    text-align: center;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Century Gothic';

}

.home {
    display: flex

}

.in-flex {
    flex: 1;
    padding: 25px;

}

.in-flex:first-child {
    flex: 2;

    }

.in-flex div {
        padding: 25px;
    }

